<%= form_for @menu do |f| %>
  <p> Name:</br> <%= f.text_field :name%> </p>
  <p> Description:</br> <%= f.text_field :description%> </p>
  <p> Available</br> <%= f.check_box :is_available%></p>
  <%= f.submit :Update %>
<% end %>
<% if @menu.errors.any? %>
  <ul class="MenuAdd_Errors">
    <% for message_error in @item.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
  </ul>
<% end %>
